@import "tailwindcss";

@plugin "daisyui" {
  themes: forest;
}

.leaflet-container {
  z-index: 0 !important;
}

.leaflet-pane {
  z-index: 0 !important;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 0 !important;
}